---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
---

<header
  class="fixed top-0 z-50 w-full border-grid border-b border-dashed border-gray-200 dark:border-gray-700 bg-background/95 backdrop-blur-sm supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="flex relative max-w-4xl m-auto sm:flex-col border-l border-r border-dashed border-gray-200 dark:border-gray-700 px-4 sm:px-6 items-center p-4"
  >
    <div class="w-full flex justify-between">
      <nav aria-label="Main menu" id="navigation-menu" class="flex gap-4 sm:gap-6 md:gap-8">
        {
          menuLinks.map(link => (
            <a
              aria-current={Astro.url.pathname === link.path ? "page" : false}
              class="hover:text-accent"
              data-astro-prefetch
              href={link.path}
            >
              <Icon name={link.icon} class="inline-block h-5 w-5 align-bottom" />
              {link.title}
            </a>
          ))
        }
      </nav>
      <div class="flex gap-4">
        <Search class="" />
        <ThemeToggle />
        {
          /*
        <mobile-button>
          <button
            aria-expanded="false"
            aria-haspopup="menu"
            class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
            id="toggle-navigation-menu"
            type="button"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              aria-hidden="true"
              class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
              fill="none"
              focusable="false"
              id="line-svg"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <svg
              aria-hidden="true"
              class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
              class="text-accent"
              fill="none"
              focusable="false"
              id="cross-svg"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </mobile-button>
				*/
        }
      </div>
    </div>
  </div>
</header>

<script>
  import { toggleClass } from "@/utils/domElement";

  class MobileNavBtn extends HTMLElement {
    #menuOpen: boolean = false;

    connectedCallback() {
      const headerEl = document.getElementById("main-header")!;
      const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

      mobileButtonEl?.addEventListener("click", () => {
        if (headerEl) toggleClass(headerEl, "menu-open");
        this.#menuOpen = !this.#menuOpen;
        mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
      });
    }
  }

  customElements.define("mobile-button", MobileNavBtn);
</script>
