---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Oops! It looks like this page is lost in space!",
  title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
  <section class="flex flex-col border-b border-dashed border-gray-200 dark:border-gray-700 pb-4 sm:pb-6">
    <div class="container max-w-3xl m-auto p-4 sm:px-6">
      <h1 class="title mb-8">404 &middot; not found</h1>
      <p class="text-base mb-2">oops ... something went wrong</p>
      <p class="text-base">please use the navigation to find your way back</p>
    </div>
  </section>
</PageLayout>
