---
import PageLayout from "@/layouts/Base.astro";
import AboutMe from "@/components/AboutMe.astro";

const meta = {
  description: "About Yunjie Dai",
  title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<AboutMe />
</PageLayout>
