---
import AboutMe from "@/components/AboutMe.astro";
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "About Yunjie Dai",
  title: "About",
};
---

<PageLayout meta={meta}>
  <section class="flex flex-col pb-4 sm:pb-6">
    <div class="container max-w-3xl m-auto p-4 sm:px-6">
      <h1 class="title mb-6">About</h1>
      <AboutMe />
    </div>
  </section>
</PageLayout>
