@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300:400|PT+Serif);

body {
  background-color: #e5e5e5;
  font-family: "Ubuntu", "Verdana", Sans-Serif;
}
@media (min-width: 1200px) {
    body {
        font-family: "Ubuntu-Light", "Verdana", Sans-Serif;
    }
}
form { margin: 0; padding: 0; }
a { text-decoration: none; }
a img { border: 0; }
a:link, a:hover, a:visited { color: #32b5f8; }

h1, h2, h3 {  }
h1 { font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 120%; }
h4 { font-size: bold 100%; }
h5 { font-size: italic 100%; }
h6 { font-size: small-caps 100%; }

.post-body pre, .post-body .code { font-family: "Ubuntu Mono"; font-size: medium; }

.post-row { margin-bottom: 20px; }
.post-title { margin: 0px 0px 20px; font: normal x-large "PTSerif", Serif; }
.post-date { color: #ff9500; font-size: x-large; line-height: 200%; }
.post-body { color: #444; font-size: medium; line-height: 160%; }
.post-body p { margin: 20px auto; }
.post-tags { font-size: small; }
.post-meta { color: #666; font-size: small; font-family: "Lucida Grande", "Verdana"; margin: 0.5em 0px; }
.post-body li { margin: 0.5em auto; line-height: 160%; }

#site-navi {  margin: 20px auto; max-width: 900px; }
#site-navi :link { text-decoration: none; }
#page-wrap {
    background: #fff;
    border: solid 1px #d4d4d4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px #ccc;
    margin: 20px auto;
    max-width: 900px;
}
#head-wrap { border-bottom: solid 1pt #eee; margin: 20px auto; }
#site-title, #site-tagline { color: #c7c7c7; font-size: medium; font-weight: normal; margin: 0px; }
#site-title { padding-left: 20px; }
#site-title a { color: #c7c7c7; text-decoration: none; }
#site-tagline { padding-right: 20px; float: right; }
#main-area { margin: auto 20px; }
/* #post-pagination { border-top: solid 1pt #eee; padding-top: 20px; margin-bottom: 0px; } */
#post-pager { border-top: solid 1pt #eee; padding: 20px 0px 0px; font-size: 20px; margin-bottom: 0px; }
#post-pager li a { border: none; }
#foot-wrap {
  border-top: 1px solid #eee;
  color: #999;
  font-size: x-small;
  line-height: 150%;
  margin: 20px 40px;
  padding: 0px;
}
#foot-wrap a { color: #999; }

@import url(pygment_trac.css);

@media (max-width: 480px) {
    #page-wrap { margin: 20px 0px; }
    #head-wrap { margin: 0px; }
    #main-area { margin: auto 10px; }
    #foot-wrap { margin: 20px 10px; }
    .post-row  { margin-bottom: 0px; }
}
