
@import url(pygment_trac.css);

body {
  font-family: 'Lucida Grande', 'Ubuntu', 'Tahoma', 'Verdana', 'Sans-Serif';
}
form { margin: 0; padding: 0; }
a { text-decoration: underline; }
a img { border: 0; }
:link { color: #358; background: transparent; }
:visited { color: #609; background: transparent; }
a:active, a:hover { color: #c00; background: transparent; }
h1, h2, h3, h4, h5, h6 { text-align: left; font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3 { color: #005a9c; }
h1 { font-size: 170%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: bold 100%; }
h5 { font-size: italic 100%; }
h6 { font-size: small-caps 100%; }
@media screen { a[href]:hover { background: #ffa; } }

.container { font-size: 12px; max-width: 900px; }
.post-date { color: #005a9c; font-size: 16px; margin: 30px 0px 10px; }
.post-body * { color: #333; font-size: 12px; line-height: 150%; }
.post-tags { font-size: 12px; }
.post-meta { color: #666; font-size: 11px; margin: 20px 0px; }
.post-body li { line-height: 150%; }

#page-wrap { margin: 20px auto; }
#blog-title { line-height: 100%; }
#blog-title a { text-decoration: none; }
#blog-tagline { line-height: 100%; font-size: 16px; }
#foot-wrap {
  border-top: 1px solid #aaa; 
  color: #666;
  font-size: 11px;
  line-height: 150%;
  margin: 20px auto;
}
