---
import SocialList from "@/components/SocialList.astro";
import { Icon } from "astro-icon/components";
---

<div class="prose prose-sm prose-cactus max-w-none">
  <ul class="list-none ps-0">
    <li class="ps-0">
      <Icon name="solar:chef-hat-heart-line-duotone" class="inline-block h-5 w-5 mr-2" />a father
    </li>
    <li class="ps-0">
      <Icon name="solar:code-bold-duotone" class="inline-block h-5 w-5 mr-2" />like coding
    </li>
    <li class="ps-0">
      <Icon name="solar:gamepad-line-duotone" class="inline-block h-5 w-5 mr-2" />presently as ceo
      of <a href="https://www.taptap.com/">TapTap</a>, co-founder of <a href="https://www.xd.com/"
        >XD Inc</a
      >
    </li>
    <li class="ps-0">
      <Icon
        name="solar:turntable-music-note-line-duotone"
        class="inline-block h-5 w-5 mr-2"
      />previously as co-founder of <a href="https://www.verycd.com/">VeryCD</a>
    </li>
  </ul>
  <div>
    <SocialList />
  </div>
</div>
