---
layout: scaffold
---
<div class="post-row row-fluid">
    <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
    <h2 class="post-title">
        <a href="{{ post.url }}">{{ page.title }}</a>
    </h2>
    <div class="post-body">{{ content }}</div>
    <!--
<div class="post-tags">
    Tags:
    <p>{{page.tags}}</p>
</div>
-->
    <div class="post-meta">
        Posted by xdanger on {{ page.date | date: "%Y-%m-%d" }}
        · <a href="{{ page.url }}">Permalink</a> · Comments
    </div>
    <!-- Pagination links -->
    <script type="text/javascript">
        var prev_page_url = "{{ page.previous.url }}";
        var next_page_url = "{{ page.next.url }}";
    </script>
    <div class="pagination text-center">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="previous">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        |
        {% if page.next.url %}
        <a href="{{page.next.url}}" class="next">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
    {% comment %}
    <!--
<div class="fb-like" data-href="//{{page.url}}" data-send="true" data-width="450" data-show-faces="true"></div>
-->
    <h3>Related Posts</h3>
    <ul>
        {% for post in site.related_posts %}
        {% if post.url != page.url %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endcomment %}
</div>